<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Cambiar contrase침a | {{ get_parameter('app_name') }}</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{{ asset('sd_admin/plugins/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('sd_admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">

    <!-- CSS Libraries -->

    <!-- Template CSS -->
    <link rel="stylesheet" href="{{ asset('sd_admin/css/adminlte.min.css') }}">
    <link rel="stylesheet" href="{{ asset('sd_admin/css/custom/login.css') }}">
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <img src="{{ asset(get_parameter('logo_max', 'sd_admin/img/logo_max.svg')) }}" alt="{{ get_parameter('app_name') }}" class="shadow-light">
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Cambiar contrase침a</p>
            {{ form_start(resetForm, {'attr': {'class': 'sd-needs-validation', 'novalidate': 'novalidate'}}) }}
                <div class="mb-3" id="form_plainPassword_first"></div>
                <div class="mb-3" id="form_plainPassword_second"></div>
                <div id="inputs-delete-hidden">
                    {{ form_widget(resetForm.plainPassword) }}
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Cambiar contrase침a</button>
                    </div>
                </div>
            {{ form_end(resetForm) }}
            <p class="mt-3 mb-1">
                <a href="{{ path('app_login') }}">Iniciar sesi칩n</a>
            </p>
        </div>
    </div>
</div>

<!-- General JS Scripts -->
<script src="{{ asset('sd_admin/plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('sd_admin/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('sd_admin/js/custom/validation.js') }}"></script>

<!-- JS Libraies -->

<!-- Template JS File -->
<script src="{{ asset('sd_admin/js/adminlte.min.js') }}"></script>

<!-- Page Specific JS File -->
<script>
    $('#form_plainPassword_first').prepend($('#change_password_form_plainPassword_first').addClass('form-control').attr('min', '6'));
    $('#form_plainPassword_second').prepend($('#change_password_form_plainPassword_second').addClass('form-control').attr('min', '6'));
    $('#inputs-delete-hidden').remove();
</script>
</body>
</html>
